@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=PT+Sans&display=swap');

body, html {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  background-image: url('../images/background.jpg');
  height: 100%;
  -webkit-filter: blur(35px);
  filter: blur(35px);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Application Description */
.description {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;
  margin-top: 30px;
  text-align: center;
}

.description h1{
  text-decoration: underline;
  font-size: 50px;
  font-weight: 100;
  font-family: 'Lobster', cursive;
}

.description p {
  font-size: 28px;
  margin-top: 30px;
  margin-left: 120px;
  margin-right: 120px;
  line-height: 1.6;
}

.blueColor {
  color: rgb(33, 95, 211);
}

/* Form Layout */
.bg-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 59%;
  left: 50%;
  z-index: 2;
  width: 80%;
  height: 650px;
  border: 2px solid black;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  margin-top: 50px;
}